<app-header></app-header>


<!-- <h1>welcome angular</h1> -->
  <!-- <app-demo></app-demo> -->

  
  <!-- FOR LOOP -->
  <!-- <h3 *ngFor="let item of users">name is: {{item}}</h3>
  <h3 *ngFor="let item of userDetails">details is: {{item.name}} -- {{item.city}}--{{item.age}}</h3>

  <ul *ngFor="let user of userDetails">
    <li>{{user.name}}</li>
        <ul *ngFor="let account of user.socialAccounts">
          <li>{{account}}</li>
        </ul>
  </ul> -->

  <!-- REUSING COMPONENT -->
 


  <!-- EVENTS -->
  <!-- <button (click)="getName('pooja')">click me</button>
  <br><br>
  <input type="text" #box (keyup)="inputBoxEvents(box.value)" placeholder="key up">
  <br><br>
  <input type="text" #box2 ((keydown))="inputBoxEvents(box2.value)" placeholder="keydown">
  <br><br>
  <input type="text" #box3 ((mouseover))="inputBoxEvents(box3.value)" placeholder="mouseover"> -->


  <!-- <h1 (mouseover)="inputBoxEvents('over')">on over</h1>

  <p>inputed value: {{inputValue}}</p> -->

<!-- STYLE BINDING -->
<!-- 
<h1 [style.color]="color">green color text</h1>
<h1 [style.backgroundColor]="color">green color text</h1>
<button (click)="updatecolor()">updatecolor</button> -->


<!-- BASIC FORM -->
<!-- 
<form #myForm="ngForm" (ngSubmit)="getData(myForm.value)" >
  <input type="text" ngModel name="name" placeholder="Enter name"/>
  <br><br>
  <input type="text" ngModel name="email" placeholder="Enter email"/>
  <br><br>
  <button>Register</button>
</form>

<ul>
  <li>{{formData.name}}</li>
  <li>{{formData.email}}</li>
</ul> -->


<!-- TOGGLE HTML ELEMENTS -->
<!-- <br><br>
<button (click)="toggle()">Toggle</button>
<h1 *ngIf="display">
  Heading tag
</h1> -->


<!-- MATERIAL UI -->

<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->


 <!-- receiving data from child -->

<!-- <app-child (updateDataEvent)="getDataFromChild($event)"></app-child>
<h1>{{dataFromChild}}</h1> -->


<!-- sending data parent to child -->
 <!-- <app-child [item]="dataToPssChild"></app-child> -->
 <!-- <ul *ngFor="let users of userData">
    <app-child [item]="users"></app-child>
 </ul> -->


<!-- custom pipes -->

<!-- <h1>{{20 | convertRupee:10}}</h1> -->



<!-- display data from get api -->
<!-- <h1>{{books| json }}</h1>

<ul *ngFor="let item of books">
  <li>{{item.id}}</li>
  <h1>{{item.title.title}}</h1>

</ul> -->



<!-- form to post data -->








<router-outlet></router-outlet>
